<% content_for :title do %>
  Collection
<% end %>
<div class="wrapper-content-page">
  <div class="container">
    <% if @collections.present? %>
      <div class="insect-collection">
        <div class="insect-number">
          <p style="color:#ffffff;">
            <!-- uncomment to call search bar below  -->
            <%#= render 'shared/search' %>
            <%= "# #{ pluralize @collections.size, "Insect" }" %>
          </p>
        </div>
      </div>
      <div class="row-card">
        <div class="cards">
          <% @collections.each do |collection| %>
            <div class="col-xs-3">
              <div class="card" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('<%= cl_image_path collection.picture %>' );">
                <%= link_to "", collection_path(collection), class: 'card-link' %>
                <div class="card-rare">
                  <%= collection.insect.rarity %>
                </div>
                <div class="card-name">
                  <h2><%= collection.insect.name %></h2>
                </div>
              </div>
            </div>
          <% end %>
        </div>
      </div>
    <% else %>
      <h2>You don't have any insect!</h2>
    <% end %>
  </div>
</div>
<%= render 'shared/footer_collection_active' %>