<% content_for :title do %>
Insect #
<%= @number + 1 %>
<% end %>
<div class="wrapper">
  <div class="container-content-page">
    <div class="top-inline" style="text-align:center">
      <div class="image">
        <%= cl_image_tag @collection.picture, width: 190, height: 300, crop: :fill, class: "photo" %>
      </div>
      <div class="collection name">
        <ul>
          <li><b>Name:</b>
            <%= @collection.insect.name %>
          </li>
          <li><b>Scientific Name:</b>
            <%= @collection.insect.scientific_name %>
          </li>
          <% if @collection.insect.dangerous %>
          <li><b>Dangerous?</b>
            <span style="color: red; font-weight: bold;">Yes</span>
          </li>
          <%else %>
          <li><b>Dangerous?</b>
            <span style= "color: green; font-weight: bold;">No</span>
            <%end %>
          </li>
          <li><b>Encounters:</b>
            <%= @encounters.size + 1 %>
          </li>
          <li><b>Date:</b>
            <%= @collection.created_at.strftime("%A, %d %b %Y %l:%M %p") %>
          </li>
          <li>
            <button class="collapsible">Taxonomy</button>
            <div class="content-collaps">
              <ul>
                <li> <b>Kingdom: </b><br>
                  >
                  <%= @collection.insect.kingdom %>
                </li>
                <li>
                  <b>Class: </b> <br>
                  >
                  <%= @collection.insect.class_insect %>
                </li>
                <li>
                  <b>Order: </b> <br>
                  >
                  <%= @collection.insect.order %>
                </li>
                <li>
                  <b>Family: </b> <br>
                  >
                  <%= @collection.insect.family %>
                </li>
              </ul>
            </div>
          </li>
        </ul>
      </div>
    </div>
    <button class="collapsible-description"><b>Description</b></button>
    <div class="content-collaps-description">
      <p>
        <%=  @collection.insect.description%>
      </p>
    </div>
    <button class="collapsible-description"><b>Previous encounters</b></button>
    <div class="content-collaps-description last-child">
      <% @encounters.each do |encounter|%>
      <h3 class="text-center">Encountered on: <%= encounter.created_at.strftime("%A, %d %b %Y %l:%M %p") %></h3>
      <div class="text-center" style="padding-bottom:10px;">
        <%= cl_image_tag encounter.picture, width: 190, height: 300, crop: :fill, class: "photo" %>
      </div>
      <% end %>
    </div>
  </div>
  <!--     <button class="btn-main">
      <div class="btn-main-wrapper"></div>
      <div class="btn-main-white-top"></div>
      <%#= link_to "Add to Collection", collections_path%>
    </button> -->
</div>
<%= render 'shared/footer_collection_active' %>