<div class="wrapper-content-page">
  <div class="insectified">
    <h2>insectified!</h2>
    <div class="container-content-page">
      <div style="text-align:center;" class="insect-container">
        <%= cl_image_tag @collection.picture, height: 305, width: 200, :class => "photo" %>
        <div class="name">
          <ul>
            <li>name:<br>
              <%= @collection.insect.name %>
            </li>
            <li>family:<br>
              <%= @collection.insect.family %>
            </li>
            <li>rarity:<br>
              <%= @collection.insect.kingdom %>
            </li>
            <li>location:<br>
              <%= @collection.insect.class_insect %>
            </li>
          </ul>
        </div>
      </div>
    </div>
    <div class="row-2">
      <div class="col-xs-12">
        <div style="text-align:left" class="description">
          <p>
            <%= @collection.insect.description %>
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
<%= render 'shared/footer_collection_active' %>