<div class="wrapper">
  <h1>Insectifier</h1>
  <div class="home-logo">
    <%= image_tag "component2.png" %>
  </div>
  <div class="container-main-page">
    <%= simple_form_for @insect do |f| %>
    <label>
      <div class="btn-main">
        <div class="btn-main-wrapper"></div>
        <div class="btn-main-white-top"></div>
        <h3>Insectify</h3>
      </div>
      <span style="display:none;">
          <%= f.input :photo, required: true, id: "file", :input_html => { onchange: "this.form.submit()" } %>
          <%= f.input :photo_cache, as: :hidden %>
        </span>
    </label>
    <% end %>
  </div>
</div>
<%= render 'shared/footer_index_active' %>
