<% content_for :title do %>
  Insectified!
<% end %>
<div class="wrapper">
  <div class="container-content-page">
    <div class="top-inline" style="text-align:center">
      <div class="image">
        <%= cl_image_tag @collection.picture, width: 190, height: 230, crop: :fill, class: "photo" %>
      </div>
      <div class="name">
        <ul>
          <li>name: <%= @insect.name %></li>
          <li>family: <%= @insect.family %></li>
          <li>rarity: <%= @insect.kingdom %></li>
          <li>location: <%= @insect.class_insect %></li>
        </ul>
      </div>
    </div>
    <div style="text-align:left" class="description">
      <p>
        <%= @insect.description %>
      </p>
    </div>
  </div>
</ul>
<!--     <button class="btn-main">
      <div class="btn-main-wrapper"></div>
      <div class="btn-main-white-top"></div>
      <%#= link_to "Add to Collection", collections_path%>
    </button> -->
</div>
<div class="container-main-page">
  <ul class="list-inline">
    <li>
      <button class="btn-main">
        <div class="btn-main-wrapper"></div>
        <div class="btn-main-white-top"></div>
        <h3><%= link_to "Add to Collection", collections_path%></h3>
      </button>
    </li>
    <li>
      <button class="btn-main">
        <div class="btn-main-wrapper"></div>
        <div class="btn-main-white-top"></div>
        <h3><%= link_to "Cancel", collections_path%></h3>
      </button>
    </li>
  </ul>
</div>
<%= render 'shared/footer_collection_active' %>
</div>