<div class="wrapper-content-page">
  <div class="insectified">
    <h1>insectified!</h1>
    <div class="container-content-page">
      <div style="text-align:center;" class="insect-container">
        <%= image_tag("ladybug.jpg",height: 305, width: 200,:class => "photo") %>
        <div class="name">
          <ul>
            <li>name:<br>
              <%= @insect.name %>
            </li>
            <li>family:<br>
              <%= @insect.family %>
            </li>
            <li>rarity:<br>
              <%= @insect.rarity %>
            </li>
            <li>location:<br>
              <%= @insect.location %>
            </li>
          </ul>
        </div>
        <div style="text-align:left" class="description">
          <p>
            <%= @insect.description %>
          </p>
        </div>
        <div class="add-btn">
          <div class="btn-main">
            <div class="btn-main-wrapper"></div>
            <div class="btn-main-white-top"></div>
            <h3>Add to Collection</h3>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>