<% content_for :title do %>
Insectified!
<% end %>
<div class="insect-main-page">
  <div class="insect-container">
    <div class="row-1">
      <div class="col-xs-7">
        <div class="image">
          <%= image_tag("ladybug.jpg",:class => "photo") %>
        </div>
      </div>
      <div class="col-xs-5">
        <div class="name">
          <ul>
            <li>name:<br>
              <%= @insect.name %>
            </li>
            <li>family:<br>
              <%= @insect.family %>
            </li>
            <li>rarity:<br>
              <%= @insect.rarity %>
            </li>
            <li>location:<br>
              <%= @insect.location %>
            </li>
          </ul>
        </div>
      </div>
    </div>
    <div class="row-2">
      <div class="col-xs-12">
        <div style="text-align:left" class="description">
          <p>
            <%= @insect.description %>
          </p>
        </div>
      </div>
    </div>
    <div class="button-add">
      <button type="button" class="btn magnify btn-lg btn-block">
        <%= link_to "Add to Collection", collections_path%></button>
    </div>
    <!-- <button class="btn-main">
      <div class="btn-main-wrapper"></div>
      <div class="btn-main-white-top"></div>
      <%= link_to "Add to Collection", collections_path%>
  </div>
</div>
</div> -->
    <%= render 'shared/footer_collection_active' %>
  </div>