<% content_for :title do %>
Insectified!
<% end %>
<div class="wrapper">
  <div class="container-content-page">
    <div class="top-inline" style="text-align:center">
      <div class="image">
        <%= cl_image_tag @collection.picture, width: 190, height: 230, crop: :fill, class: "photo" %>
      </div>
      <div class="insectify name">
        <ul>
          <li><b>Name:</b>
            <%= @insect.name %> (No.
            <%= @collection.insect.id %>) </li>
          <li><b>Scientific Name:</b>
            <%= @insect.scientific_name %>
          </li>
          <li><b>Kingdom:</b>
            <%= @insect.kingdom %>
          </li>
          <li><b>Class:</b>
            <%= @insect.class_insect %>
          </li>
          <li><b>Order:</b>
            <%= @insect.order %>
          </li>
          <li><b>Family:</b>
            <%= @insect.family %>
          </li>
          <% if @insect.dangerous %>
          <li><b>Dangerous?</b>
            <span style="color: red; font-weight: bold;">Yes</span>
          </li>
          <%else %>
          <li><b>Dangerous?</b>
            <span style= "color: green; font-weight: bold;">No</span>
            <%end %>
        </ul>
      </div>
    </div>
    <div style="text-align:left" class="description">
      <p>
        <%= @insect.description %>
      </p>
    </div>
  </div>
</div>
<div class="container-main-page">
  <ul class="list-inline">
    <li>
      <button class="btn-main-red" id="location">
        <div class="btn-main-wrapper-red"></div>
        <div class="btn-main-white-top"></div>
        <h3><%= link_to "Add location", root_path%></h3>
      </button>
    </li>
    <li>
      <%= simple_form_for @collection do |f| %>
      <%= f.hidden_field :picture, :value => @collection.picture %>
      <%= f.hidden_field :insect_id, :value => @insect.id %>
      <%= f.hidden_field :latitude, :value =>  %>
      <button class="btn-main">
        <div class="btn-main-wrapper"></div>
        <div class="btn-main-white-top"></div>
        <h3>Add Insect</h3>
        <% end %>
      </button>
    </li>
  </ul>
</div>
<%= render 'shared/footer_collection_active' %>
</div>