<% content_for :title do %>
  Badges
<% end %>
<div class="container">
  <!-- <div class="row-card"> -->
  <!-- <div class="cards"> -->
  <div class="row">
    <% @badges.each do |badge| %>
      <div class="col-xs-3" style="padding:2%" align="center">
        <% if badge.challenge.done?(current_user) %>
          <div class="card avatar" style="background-image: url('<%= image_path badge.image%>');">
          <%else %>
            <div class="card avatar" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('<%= image_path badge.image%>');">
              <%= image_tag "insect_badges/lock.png", class: 'lock-placement'  %>
            <% end %>
            <%= link_to "", badge_path(badge), class: 'card-link' %>
          </div>
        </div>
      <% end %>
    </div>
    <!-- </div> -->
  </div>
  <%= render 'shared/footer_challenge_active' %>