<% content_for :title do %>
Challenges
<% end %>
<div class="wrapper-content-page">
  <div class="score">
    <p style="color: white;">
      <%= "Challenge score - #{@score} Pt." %>
    </p>
  </div>
  <div class="challenge-cards">
    <% @challenges.each do |challenge| %>
    <div class="col-xs-3">
      <% if challenge.done?(current_user) %>
      <div class="challenge-card" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)),url('<%= image_path challenge.poster%>');">
        <%= image_tag("completed.png", :class => "absolute", :size =>'80x45') %>
        <% else %>
        <div class="challenge-card" style="background-image: url('<%= image_path challenge.poster%>');">
          <% end %>
          <%= link_to "", challenge_path(challenge), class: 'card-link' %>
        </div>
      </div>
      <% end %>
    </div>
  </div>
</div>
<%= render 'shared/footer_challenge_active' %>