<% content_for :title do %>
Challenges
<% end %>
<div class="subtitle">
  <p>
    <%= "Challenge score: #{@score}" %>
  </p>
</div>
<div class="container padding-bottom">
  <div class="row">
    <% @challenges.each do |challenge| %>
    <div class="col-xs-3 paddings" align="center">
      <% if challenge.done?(current_user) %>
      <div class="challenge-card" style="background-image: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.4)),url('<%= image_path challenge.poster%>');">
        <%= image_tag("completed.png", style: "margin-top:50%", :size =>'80x45') %>
        <% elsif challenge.condition_fullfilled?(current_user) %>
        <div class="challenge-card yellow-border" style="background-image: url('<%= image_path challenge.poster%>');">
          <%else %>
          <div class="challenge-card" style="background-image: linear-gradient(rgba(0,0,0,0.2), rgba(0,0,0,0.2)), url('<%= image_path challenge.poster%>');">
            <% end %>
            <%= link_to "", challenge_path(challenge), class: 'card-link' %>
          </div>
        </div>
        <% end %>
      </div>
    </div>
  </div>
  <%= render 'shared/footer_challenge_active' %>