<% if @challenge.done?(current_user) %>
<% content_for :title do %>
Already hunted
<% end %>
<div class="wrapper">
  <div class="container-challenge-page">
    <%= image_tag(@challenge.poster, :class =>"done-card", :size =>'280x420') %>
    <%= image_tag("completed.png", :class => "absolute-card", :size =>'260x260') %>
  </div>
</div>
<% else %>
<% content_for :title do %>
Catch!
<% end %>
<div class="wrapper-challenge">
  <div class="container-challenge-page">
    <%= image_tag @challenge.poster, :size => '280x390'%>
  </div>
  <ul class="list-inline">
    <li>
      <% if @challenge.condition_fullfilled?(current_user) %>
      <%= simple_form_for [@challenge, @achievement_collection]  do |f| %>
      <button class="btn-main">
        <div class="btn-main-wrapper"></div>
        <div class="btn-main-white-top"></div>
        <h3>Claim reward</h3>
        <% end %>
      </button>
      <%else %>
      <button class="btn-main gray">
        <div class="btn-main-wrapper light_gray"></div>
        <div class="btn-main-white-top"></div>
        <h3>Claim reward</h3>
      </button>
      <% end %>
    </li>
  </ul>
</div>
<% end %>
<%= render 'shared/footer_challenge_active' %>
