<% if @challenge.done? %>
<% content_for :title do %>
Already hunted
<% end %>
<div class="wrapper">
  <div class="container-challenge-page">
    <div class="challenge-image">
      <%= image_tag @challenge.poster, :size =>'280x420' %>
      <%= image_tag("done.png", :class => "absolute-card", :size =>'250x250') %>
    </div>
  </div>
</div>
<%= render 'shared/footer_collection_active' %>
<% else %>
<% content_for :title do %>
Catch!
<% end %>
<div class="wrapper">
  <div class="container-challenge-page">
    <div class="challenge-image">
      <%= image_tag @challenge.poster, :size =>'280x420' %>
    </div>
  </div>
  <div class="challenge-description">
    <p>
      <%= "Catch #{@challenge.poster.chop.chop.chop.chop} to get #{@challenge.score}pt!" %>
    </p>
  </div>
</div>
<div class="container-main-page">
  <ul class="list-inline">
    <li>
      <%= simple_form_for @challenge do |f| %>
      <%= f.button :submit, "Hunted!", :class => 'btn-main' %>
      <% end %>
    </li>
  </ul>
</div>
<%= render 'shared/footer_challenge_active' %>
<% end %>