<% if @challenge.done?(current_user) %>
<% content_for :title do %>
Challenge already completed!
<% end %>
<div class="wrapper-challenge">
  <div class="container-challenge-page">
    <%= image_tag(@challenge.poster, :class => "rounded",:size =>'280x370') %>
    <%= image_tag("completed.png", :class => "absolute-card",:size =>'260x260') %>
  </div>
  <button class="btn-main">
    <div class="btn-main-wrapper"></div>
    <div class="btn-main-white-top"></div>
    <h3><%= link_to "Return", challenges_path %></h3>
  </button>
</div>
<% else %>
<% content_for :title do %>
Catch!
<% end %>
<div class="wrapper-challenge">
  <div class="container-challenge-page" id="not-completed">
    <%= image_tag @challenge.poster,:id =>"poster", :class => "rounded"%>
  </div>
  <ul class="list-inline">
    <li>
      <% if @challenge.condition_fullfilled?(current_user) %>
      <%= simple_form_for [@challenge, @achievement_collection]  do |f| %>
      <button class="btn-main">
        <div class="btn-main-wrapper"></div>
        <div class="btn-main-white-top"></div>
        <h3>Claim reward</h3>
        <% end %>
      </button>
      <%else %>
      <button class="btn-main gray">
        <div class="btn-main-wrapper light_gray"></div>
        <div class="btn-main-white-top"></div>
        <h3>Claim reward</h3>
      </button>
      <% end %>
    </li>
  </ul>
</div>
<% end %>
<%= render 'shared/footer_challenge_active' %>